/* menu */

li a{
    font-size: 25px;
    color: #6D0A1B;
}

a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    margin-top: 20px;
}

ul {
    text-align: center;
    padding: 0px;
    margin-top: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}

.menu {
    background-color: white;
    width: 20vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
/* Acceuil */ 
body {
    display: flex;
    margin: 0px;
    
}

/* Acceuil */
.body {
    background-image: url("../images/image_2.png");
    background-color: #345831;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* Connexion */
.connexion {
    float: right;
    margin-top: 3vh;
    margin-right: 4vw;
    font-size: 33px;
}

.connexion a {
    color: white;
    font-size: 33px;
}

/* article */
