/* menu */

.menu li a{
    font-size: 25px;
    color: #6D0A1B;
}

.menu a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
    list-style: none;
    margin-top: 20px;
}

.menu ul {
    text-align: center;
    padding: 0px;
    margin-top: 100px;
}

.menu img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}

.menu {
    background-color: white;
    width: 20vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/* Menu Admin */
.menuAdmin li a{
    font-size: 25px;
    color: #6D0A1B;
}

.menuAdmin a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.menuAdmin a:hover {
    text-decoration: underline;
}

.menuAdmin li {
    flex-direction: row;
    list-style: none;
    margin-left: 4vw;
}

.menuAdmin ul {
    display: flex;
    padding: 0px;
    margin-top: 3vh; 
    margin-bottom: 3vh;
}

.menuAdmin {
    background-color: white;
    width: 80vw;
    height: 10vh;
    margin: 0px;
    padding: 0px;
}
/* Connexion */ 
.connexion {
    display: flex;
}

.contentConnexion {
    width: 60vw;
    height: 60vh;
    background-color: white;
    margin-left: 10vw;
    margin-top: 20vh;
}

.contentConnexion h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    color: #6D0A1B;
}

.contentConnexion label {
    color: #355931;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

.contentConnexion .inputConnexion input {
    border: 1px solid #6D0A1B;
    background-color: white;
    width: 35vw;
    height: 4vh;
    margin-top: 20px;
}

.formulaireConnexion {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}
.validerConnexion {
    margin: 0px;
}
.validerConnexion input {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    background-color: white;
    border: 1px solid #6D0A1B;
    color: #6D0A1B;
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
    padding-top: 3px;
    margin-left: 70px;
}

.contentConnexion button {
    text-decoration: none;
    background-color: white;
    border: 1px solid #6D0A1B;
    height: 5vh;
    width: 7vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #6D0A1B;
    float: right;
    margin-top: 20px;
    text-align: center;
    padding-top: 3px;
}
/* Administration */ 
body .administration {
    display: flex;
    flex-direction: column;
}
.contentAdmin {
    width: 80vw;
    height: 90vh;
}

/* Acceuil */ 
body {
    display: flex;
    margin: 0px;
    background-image: url("../images/image_2.png");
    background-repeat: no-repeat;
    background-color: #345831;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.body {
    flex-direction: column;
    width: 80vw;
}

/* btnConnexion */
.body .btnConnexion {
    float: right;
    margin-top: 3vh;
    margin-right: 4vw;
    font-size: 33px;
}

.body .btnConnexion a {
    color: white;
    font-size: 33px;
}
/* Connexion Menu Admin */
.connexionAdmin {
    border: 1px solid black;
}
/* Administration article */
.articleAdmin {
    display: flex;
    flex-direction: column;
}

/* langue */ 
.langues {
    display: flex;
    flex-direction: column;
}

/* Commentaires */ 
.commentaires {
    display: flex;
    flex-direction: column;
}
.commentaires tr {
    background-color: white;
}

.commentaires h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
}