/* menu */

.menu li a{
    font-size: 25px;
    color: #6D0A1B;
}

.menu a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.menu a:hover {
    text-decoration: underline;
}

.menu li {
    list-style: none;
    margin-top: 20px;
}

.menu ul {
    text-align: center;
    padding: 0px;
    margin-top: 100px;
}

.menu img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
}

.menu {
    background-color: white;
    width: 20vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

/* Menu Admin */
.menuAdmin li a{
    font-size: 25px;
    color: #6D0A1B;
}

.menuAdmin a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
}

.menuAdmin a:hover {
    text-decoration: underline;
}

.menuAdmin li {
    flex-direction: row;
    list-style: none;
    margin-left: 3vw;
}

.menuAdmin ul {
    display: flex;
    padding: 0px;
    margin-top: 3vh; 
    margin-bottom: 3vh;
}

.menuAdmin {
    background-color: white;
    width: 80vw;
    height: 10vh;
    margin: 0px;
    padding: 0px;
}
/* Connexion */ 
.connexion {
    display: flex;
}

.contentConnexion {
    width: 60vw;
    height: 60vh;
    background-color: white;
    margin-left: 10vw;
    margin-top: 20vh;
}

.contentConnexion h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    color: #6D0A1B;
    margin-bottom: 3vh;
}

.contentConnexion label {
    color: #355931;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

.inputConnexion input {
    border: 1px solid #6D0A1B;
    background-color: white;
    width: 35vw;
    height: 4vh;
    margin-top: 20px;
}

.formulaireConnexion {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}
.validerConnexion {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}
.validerConnexion input {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    background-color: white;
    border: 1px solid #6D0A1B;
    color: #6D0A1B;
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
    padding-top: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inscrireConnexion {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    background-color: white;
    border: 1px solid #6D0A1B;
    color: #6D0A1B;
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
    padding-top: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}
/* Administration */ 
body .administration {
    display: flex;
    flex-direction: column;
}
.contentAdmin {
    width: 80vw;
    height: 90vh;
}

.administration p {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 15vh;
}

/* Acceuil */ 
body {
    display: flex;
    margin: 0px;
    background-image: url("../images/image_2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #345831;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.body {
    flex-direction: column;
    width: 80vw;
}

/* btnConnexion */
.btnConnexion {
    display: flex;
    float: right;
    margin-right: 4vw;
    font-size: 33px;
}

.btnConnexion a {
    color: white;
    font-size: 33px;
}
/* Connexion Menu Admin */
.connexionAdmin {
    width: 5vw;
}
/* Administration article */
.articleAdmin {
    display: flex;
    flex-direction: column;
}

/* langue */ 
.langues {
    display: flex;
    flex-direction: column;
}

/* Commentaires */ 
.commentaires {
    display: flex;
    flex-direction: column;
}
.commentaires tr {
    background-color: white;
}

.commentaires h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
    text-align: center;
}

/* mentions */
.mentions h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
    text-align: center;
    font-size: 50px;
    padding-top: 5vh;
    margin: 0px;
}

.mentionsContent {
    background-color: white;
    width: 60vw;
    height: 845vh;
    margin-top: 20vh;
    margin-left: 10vw;
    overflow: auto;
}
.mentionsContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mentionsTrueContent {
    color: #355931;
    width: 50vw;
    margin: 0px auto;
    font-family: Helvetica, sans-serif;
}

.mentionsTrueContent a {
    color: #355931;
}

/* thematiques */
.thematiques {
    display: flex;
    flex-direction: column;
}

/* thematiques + mots clés update & new */
.thematiques h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
    text-align: center;
    font-size: 50px;
    padding-top: 5vh;
    margin: 0px;
}

.Update {
    background-color: white;
    width: 60vw;
    height: 70vh;
    margin-top: 10vh;
    margin-left: 10vw;
    font-size: 20px;
}

.UpdateContent {
    color: #355931;
    width: 30vw;
    margin: 0px auto;
    font-family: Helvetica, sans-serif;
}

.Margin {
    margin-top: 30px;
}


.thematiques a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: #355931;
}

.thematiques a:hover {
    text-decoration: underline;
}

/* Contact */ 
.contact {
    display: flex;
    flex-direction: column;
}

.contact h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
    text-align: center;
    font-size: 50px;
    padding-top: 5vh;
    margin: 0px;
}
.contactContent {
    background-color: white;
    width: 60vw;
    height: 70vh;
    margin-top: 7vh;
    margin-left: 10vw;
    font-size: 20px;
    overflow: auto;
}

.contactContent1 {
    color: #355931;
    width: 30vw;
    margin: 0px auto;
    font-family: Helvetica, sans-serif;
}

.contactContent1 textarea {
    margin-top: 10px;
    width: 30vw;
    height: 20vh;
}

.effacer {
    float: right;
}

.submitContact input {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    background-color: white;
    border: 1px solid #6D0A1B;
    color: #6D0A1B;
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
    padding-top: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.submitContact {
    width: 20vw;
    margin: 0px auto;
}

.btnContact {
    float: right;
}

/* affichage pseudo et deconnexion Admin */
.pseudoAdmin {
    margin-right: 1vw;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 2vh;
}

.pseudoAdminInAdminShow {
    display: flex;
}


/*New Article */ 


/* En savoir plus article */ 
.SavoirPlus {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #345831;
}
.SavoirPlus h1 {
    font-family: 'Bebas Neue', cursive;
    color: #6D0A1B;
    font-size: 50px;
}
.SavoirPlusContent {
    background-color: white;
    width: 60vw;
    height: 70vh;
    margin-top: 7vh;
    margin-left: 10vw;
    font-size: 20px;
    overflow: auto;
}

.SavoirPlusContent